@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-width: 300px;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: 'Passion One', cursive;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(77, 75, 75, 0.137);
    color: white;
    text-shadow: 1px 1px 0px black;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.322);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 10px;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}